<div *ngIf="loadingPr" class="loadingPr">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>

  <div *ngIf="mostrarAlert && !loadingPr" class="alert contain-alert" role="alert" [ngClass]="ColorAlert">
    <div class="letraAlert">{{sms}}</div>
  </div>


    <div *ngIf="!loadingPr" class="nuevo" (click)="Modal=!Modal" >
      <span>Agregar</span>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <!-- <i class="fa fa-plus-circle" aria-hidden="true"></i>-->
    </div>


<!--PRimera vista-->
  <div class="col-md-12" *ngFor="let datos of Galeria let ig = index">
    <div class=" container">

      <div class="contenGaleria ">
        <div class="contenTitulo ">
          <div class="titulo"><h3>{{ datos.titulo }}</h3></div>
          <div class="boton">
            <!--    <i class="fa fa-pencil-square-o cursor icosDes" aria-hidden="true"
                 (click)="AbrirModalEditarEvento(datos.id_g, datos.titulo, datos.descripcion)"></i>
              <i class="fa fa-trash-o cursor icosDes" aria-hidden="true"
                 (click)="AbrirModalEliminar(datos.id_g, 'evento', ig, 0)"></i>-->

            <button type="button" class="btn btnNEgro" (click)="AbrirModalEditarEvento(datos.id_g, datos.titulo, datos.descripcion)">Editar Evento</button>
              <button type="button" class="btn btnNEgro" (click)="AbrirModalEliminar(datos.id_g, 'evento', ig, 0)">Eliminar Evento</button>
          </div>
        </div>

        <div class="contentDescrip">
          <div class="titulo">{{datos.descripcion}}</div>
          <div class="boton">
            <!-- <i class="fa fa-plus cursor icosDes" aria-hidden="true" (click)="AbrirModalAddImg(datos.titulo, datos.id_g)"></i>-->
             <button type="button" class="btn btnRojo" (click)="AbrirModalAddImg(datos.titulo, datos.id_g)">Agregar más Imagenes</button>
          </div>
        </div>
        <div class="contenImgs">
          <div class="col-md-12">
            <div class="card-columns">
              <div  class="contentImg" *ngFor="let img of datos.fotos let i = index">
                <div *ngIf="img.isVisible" class="EliminarImg1">
                 Haga click para Eliminar Imagen
                </div>
                <img  [src]="img.url" class="img"
                      (click)="AbrirModalEliminar(img.id_img, 'img', ig, i)"
                      (mouseover)="img.isVisible=true"
                      (mouseout)="img.isVisible=false" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


<!--Modal de Eliminar-->
  <div *ngIf="ModalEliminar" class="modal1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ {{tituloEliminar}} ?</h5>
      </div>
      <div class="modal-footer">
        <button *ngIf="TipoEventEliminar == 'evento'" (click)="EliminarEvento()"  type="button" class="btn btnRojo">Si</button>
        <button  *ngIf="TipoEventEliminar != 'evento'" (click)="EliminarImg()"  type="button" class="btn btnRojo">Si</button>
        <button (click)="ModalEliminar=!ModalEliminar" type="button" class="btn btnNEgro">No</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de addEvento-->
  <div *ngIf="Modal" class="modal bd-example-modal-lg" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="close" (click)="Modal=!Modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5">
              SELECCIONE LAS IMAGENES

              <div appNgDropFiles
                   [ngClass]="{ 'file-over': estaSobreDropZone }"
                   (archivoSobre)="archivoSobreDropZone($event)"
                   [archivos] = "archivos"
                   class="well drop-zone">
                <h4>Suelta los archivos aquí</h4>
                <img src="/assets/img/drop-images.png">
              </div>

            </div>
            <div class="col-md-7" style="margin-bottom:40px">
              <form  #forma="ngForm" novalidate>
              TÍTULO  <input required  name="titulo" [(ngModel)]="titulo" type="text" class="form-control">
              DESCRIPCIÓN  <textarea required name="descrpcion" [(ngModel)]="descripcion" class="form-control"></textarea>

                <div>CARGAR IMAGENES</div>

              <button type="button" class="btn btnRojo"
                      (click)="cargarImagenesGaleria()"
                      [disabled]="archivos.length == 0 || !permiteCargar || !forma.valid ">
                Cargar a Galería
              </button>

              <button type="button" class="btn btnNEgro"
                      (click)="limpiarArchivos()">
                Limpiar archivos
              </button>
              </form>
              <table class="table" *ngIf="archivos.length > 0">
                <thead class="thead-inverse">
                <tr>
                  <th>Nombre</th>
                  <th>Tamaño</th>
                  <th>Progreso</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let archivo of archivos">
                  <td [ngClass]="{ 'text-green': archivo.estaSubiendo }">
                    <strong>{{ archivo.nombreArchivo }}</strong>
                  </td>
                  <td>
                    {{ archivo.archivo.size / 1024 / 1024 | number:'.2' }}MB
                  </td>
                  <td>

                    <div class="progress">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': archivo.progreso + '%' }"></div>
                    </div>

                  </td>
                </tr>
                </tbody>

              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--Modal de addImg-->
  <div *ngIf="ModalAddImg" class="modal bd-example-modal-lg" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" (click)="ModalAddImg=!ModalAddImg" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            SELECCIONE LAS IMAGENES
            <div appNgDropFiles
                 [ngClass]="{ 'file-over': estaSobreDropZone }"
                 (archivoSobre)="archivoSobreDropZone($event)"
                 [archivos] = "archivos"
                 class="well drop-zone">
              <h4>Suelta los archivos aquí</h4>
              <img src="/assets/img/drop-images.png">
            </div>

          </div>
          <div class="col-md-7" style="margin-bottom:40px">
            <div>CARGAR IMAGENES</div>

            <button type="button" class="btn btnRojo"
                    (click)="cargarMasImagenes()"
                    [disabled]="archivos.length == 0 || !permiteCargar">
              Cargar a Galería
            </button>

            <button type="button" class="btn btnNEgro"
                    (click)="limpiarArchivos()">
              Limpiar archivos
            </button>


            <table class="table" *ngIf="archivos.length > 0">
              <thead class="thead-inverse">
              <tr>
                <th>Nombre</th>
                <th>Tamaño</th>
                <th>Progreso</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let archivo of archivos">
                <td [ngClass]="{ 'text-green': archivo.estaSubiendo }">
                  <strong>{{ archivo.nombreArchivo }}</strong>
                </td>
                <td>
                  {{ archivo.archivo.size / 1024 / 1024 | number:'.2' }}MB
                </td>
                <td>

                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': archivo.progreso + '%' }"></div>
                  </div>

                </td>
              </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal de EditarEvento-->
  <div *ngIf="ModalAEditEvento" class="modal bd-example-modal-lg" >
    <div class="modal-dialog " role="document">
      <div class="modal-content">

        <div *ngIf="loadingM" class="loadingM">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <button *ngIf="!loadingM" type="button" class="close" (click)="CerrarModaladdEvento()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body" *ngIf="!loadingM">
          <div class="row">
            <div class="col-md-12">
              <form  #forma="ngForm" novalidate>
               TÍTULO  <input required  name="titulo" [(ngModel)]="titulo" type="text" class="form-control">
               DESCRIPCIÓN  <textarea required name="descrpcion" [(ngModel)]="descripcion" class="form-control"></textarea>
                <br>
                <button type="button" class="btn btnRojo btn-block"
                        (click)="EditarEvento()"
                        [disabled]=" !forma.valid ">
                  Enviar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="col-md-6" style="margin-bottom:40px">
    <h4>Título</h4>  <input  name="titulo" [(ngModel)]="titulo" type="text" class="form-control">
    <h4>Descripción</h4>  <textarea name="descrpcion" [(ngModel)]="descripcion" class="form-control"></textarea>

    <h3>Seleccione Imagenes</h3>

    <div appNgDropFiles
         [ngClass]="{ 'file-over': estaSobreDropZone }"
         (archivoSobre)="archivoSobreDropZone($event)"
         [archivos] = "archivos"
         class="well drop-zone">
      <h4>Suelta los archivos aquí</h4>
      <img src="/assets/img/drop-images.png">
    </div>

    <h4>Cargar Imagenes</h4>

    <button type="button" class="btn btn-success"
            (click)="cargarImagenesGaleria()"
            [disabled]="archivos.length == 0 || !permiteCargar">
      Cargar a Galería
    </button>

    <button type="button" class="btn btn-danger"
            (click)="limpiarArchivos()">
      Limpiar archivos
    </button>


    <table class="table" *ngIf="archivos.length > 0">
      <thead class="thead-inverse">
      <tr>
        <th>Nombre</th>
        <th>Tamaño</th>
        <th>Progreso</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let archivo of archivos">
        <td [ngClass]="{ 'text-green': archivo.estaSubiendo }">
          <strong>{{ archivo.nombreArchivo }}</strong>
        </td>
        <td>
          {{ archivo.archivo.size / 1024 / 1024 | number:'.2' }}MB
        </td>
        <td>

          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': archivo.progreso + '%' }"></div>
          </div>

        </td>
      </tr>
      </tbody>

    </table>

  </div> -->


