<div *ngIf="loadingPr" class="loadingPr">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="mostrarAlert  && !loadingPr" class="alert contain-alert" role="alert" [ngClass]="ColorAlert">
  <div class="letraAlert">{{sms}}</div>
</div>

<div class="nuevo" (click)="Modal=!Modal" *ngIf="!loadingPr" >
  <span>Agregar</span>
  <i class="fa fa-plus-circle" aria-hidden="true"></i>
</div>


<!--PRimera vista-->
  <div class=" container">
    <div class="contentModelos" *ngFor="let modelo of Modelos let idxMo = index">
      <div class="contentEliEdi">
        <i class="fa fa-pencil-square-o cursor icosMo" aria-hidden="true" (click)="AbrirlModalEditarModelo(modelo.id_m, modelo.nombre, modelo.nivel, modelo.descripcion)"></i>
        <i class="fa fa-trash-o cursor icosMo" aria-hidden="true" (click)="AbrirModalEli(modelo.id_m, idxMo)"></i>
      </div>
      <div class="ContentImgModelos"  *ngFor="let img of modelo.fotos let i = index">
        <div *ngIf="img.isVisible" class="EditarImg">
          Click para Editar la imagen
        </div>
        <img (mouseover)="img.isVisible=true"
             (mouseout)="img.isVisible=false"
             (click)="AbrirlModalEditarImgMod(modelo.id_m, img.id_img)"
             class="card-img-top" [src]="img.url" [alt]="modelo.nombre">
      </div>
      <div class="contentNombreModelo">
        {{ modelo.nombre }}
      </div>
      <div class="contentNivelModelo">
        {{ modelo.nivel }}
      </div>
      <div class="contentDescripcionModelo">
        {{modelo.descripcion}}
      </div>

    </div>
  </div>

<!--Modal de addModelos-->
<div *ngIf="Modal" class="modal bd-example-modal-lg" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div *ngIf="loadingM" class="loadingM">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <button *ngIf="!loadingM" type="button" class="close" (click)="Modal=!Modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body" *ngIf="!loadingM">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:40px">
            SELECCIONE UNA IMAGEN
            <input type="file" (change)="fileEvent($event)" class="form-control-file">
            <!--<input type="file" class="form-control-file" [(ngModel)]="archivo">-->
            <form  #forma="ngForm" novalidate>
             NOMBRE  <input required  name="titulo" [(ngModel)]="nombre" type="text" class="form-control">
             NIVEL
              <select  required style="width: 100%"
                       class="custom-select" [(ngModel)]="nivel"
                       name="nivel">
                <option>Seleccione un nivel</option>
                <option *ngFor='let nvel of Nivel'
                        [value]="nvel">
                  {{nvel}}</option>
              </select>
              DESCRIPCIÓN  <textarea required name="descrpcion" [(ngModel)]="descripcion" class="form-control"></textarea>
              <br>
              <button type="button" class="btn btnRojo btn-block"
                      [disabled]="!forma.valid "
                      (click)="AgregarModelo()">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal de Eliminar-->
<div *ngIf="ModalEliminar" class="modal1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ {{tituloEliminar}} ?</h5>
      </div>
      <div class="modal-footer">
        <button  type="button" (click)="EliminarModelos()"  class="btn btnRojo">Si</button>
        <button (click)="ModalEliminar=!ModalEliminar" type="button" class="btn btnNEgro">No</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de EditModelos-->
<div *ngIf="ModalAEditMod" class="modal bd-example-modal-lg" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div *ngIf="loadingM" class="loadingM">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <button type="button" class="close" (click)="CerrarModalEdita()" aria-label="Close"  *ngIf="!loadingM">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body"  *ngIf="!loadingM">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:40px">
            <form  #forma="ngForm" novalidate>
              NOMBRE COMPLETO  <input required  name="titulo" [(ngModel)]="nombre" type="text" class="form-control">
              NIVEL
              <select  required style="width: 100%"
                       class="custom-select" [(ngModel)]="nivel"
                       name="nivel">
                <option>Seleccione un nivel</option>
                <option *ngFor='let nvel of Nivel'
                        [value]="nvel">
                  {{nvel}}</option>
              </select>

              DESCRIPCION  <textarea required name="descrpcion" [(ngModel)]="descripcion" class="form-control"></textarea>
              <br>
              <button type="button" class="btn btnRojo btn-block"
                      [disabled]="!forma.valid "
                      (click)="EditarModelo()">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal de EditarImgModelos-->
<div *ngIf="ModalAEditarImgMod" class="modal bd-example-modal-lg" >
  <div class="modal-dialog " role="document">
    <div class="modal-content">

      <div *ngIf="loadingM" class="loadingM">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <button *ngIf="!loadingM" type="button" class="close" (click)="ModalAEditarImgMod=!ModalAEditarImgMod" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body" *ngIf="!loadingM">
        <div class="row">
          <div class="col-md-12">
            <form  #forma="ngForm" novalidate>
              SELECCIONE UNA IMAGEN
              <input type="file" (change)="fileEvent($event)" class="form-control-file">
              <br>
              <button type="button" class="btn btnRojo btn-block"
                      (click)="EditarImggenModelos()"
                      [disabled]=" !forma.valid ">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
