<div *ngIf="loadingPr" class="loadingPr">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="mostrarAlert && !loadingPr" class="alert contain-alert" role="alert" [ngClass]="ColorAlert">
  <div class="letraAlert">{{sms}}</div>
</div>

<div class="nuevo" (click)="Modal=!Modal" *ngIf="!loadingPr" >
  <span>Agregar</span>
  <i class="fa fa-plus-circle" aria-hidden="true"></i>
</div>

<div class="row">
  <div class="col-md-12" *ngFor="let datos of Destacados let idxDes = index">
    <div class=" container">
      <div class="contentDestacados">
        <div class="row">
          <div class="col-md-4">
            <div  class="contentImgDestacados" *ngFor="let img of datos.fotos let i = index">
              <div *ngIf="img.isVisible" class="EditarImg">
                Click para Editar la imagen
              </div>
              <img  [src]="img.url" class="imgDes cursor"
                    (click)="AbrirlModalEditarImgDes(datos.id_d)"
                    (mouseover)="img.isVisible=true" (mouseout)="img.isVisible=false" >
            </div>
          </div>
          <div class="col-md-8">
            <div class="contGraDestacados">
                <div class="col-md-12">
                  <div class="conteTituloDestacados">
                   <div class="conTi"><h3>{{ datos.titulo }}</h3></div>
                    <div class="contentElEdDestacados">
                      <i class="fa fa-pencil-square-o cursor icosDes" aria-hidden="true"
                         (click)="AbrirlModalEditarDestacados(datos.id_d, datos.titulo, datos.descripcion)"></i>
                      <i class="fa fa-trash-o cursor icosDes" aria-hidden="true"
                         (click)="AbrirModalEliminard(datos.id_d, idxDes)"></i>
                    </div>
                  </div>
                  <div class="conteDescripcionDestacados">
                    {{ datos.descripcion }}
                  </div>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!--Modal de addDescatados-->
<div *ngIf="Modal" class="modal bd-example-modal-lg" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div *ngIf="loadingM" class="loadingM">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <button  *ngIf="!loadingM" type="button" class="close" (click)="Modal=!Modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body" *ngIf="!loadingM">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:40px">
            <h4>Seleccione Una img</h4>
            <input type="file" (change)="fileEvent($event)" class="form-control-file">
            <form  #forma="ngForm" novalidate>
              <h4>Título</h4>  <input required  name="titulo" [(ngModel)]="titulo" type="text" class="form-control">
              <h4>Descripción</h4>  <textarea required name="descrpcion" [(ngModel)]="descripcion" class="form-control"></textarea>
              <button type="button" class="btn btn-success"
                      [disabled]="!forma.valid "
                      (click)="AgregarDestacados()">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal de Eliminar-->
<div *ngIf="ModalEliminar" class="modal1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ {{tituloEliminar}} ?</h5>
      </div>
      <div class="modal-footer">
        <button  type="button" (click)="EliminarDestacados()"  class="btn btn-success">Si</button>
        <button (click)="ModalEliminar=!ModalEliminar" type="button" class="btn btn-Warning">No</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de EditDescatados-->
<div *ngIf="ModalAEditDest" class="modal bd-example-modal-lg" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div *ngIf="loadingM" class="loadingM">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <button *ngIf="!loadingM" type="button" class="close" (click)="cerrarModalEditarDestacados()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body" *ngIf="!loadingM">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:40px">
            <form  #forma="ngForm" novalidate>
              <h4>Título</h4>  <input required  name="titulo" [(ngModel)]="titulo" type="text" class="form-control">
              <h4>Descripción</h4>  <textarea required name="descrpcion" [(ngModel)]="descripcion" class="form-control"></textarea>

              <button type="button" class="btn btn-success"
                      [disabled]="!forma.valid "
                      (click)="EditarDestacads()">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal de EditarImgDescatados-->
<div *ngIf="ModalAEditarImgDes" class="modal bd-example-modal-lg" >
  <div class="modal-dialog " role="document">
    <div class="modal-content">

      <div *ngIf="loadingM" class="loadingM">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <button *ngIf="!loadingM" type="button" class="close" (click)="ModalAEditarImgDes=!ModalAEditarImgDes" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body" *ngIf="!loadingM">
        <div class="row">
          <div class="col-md-12">
            <form  #forma="ngForm" novalidate>
              <h4>Seleccione Una img</h4>
              <input type="file" (change)="fileEvent($event)" class="form-control-file">
              <button type="button" class="btn btn-success btn-block"
                      (click)="EditarImggenDestaca()"
                      [disabled]=" !forma.valid ">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

