body{
  background: #e3e3e3;
  font-family: Arial;
}

textarea {
  resize: none;
}

.main-container{
  margin-top: 40px;
}

/* Drop Zone */
.drop-zone {
	border: dotted 3px lightgray;
	opacity: 0.5;
	color: #666;
	text-align: center
}

.file-over {
	border: dotted 3px dodgerblue;
}

.table {
	margin-top: 30px;
}

.text-green {
	color: green
}

.modal{
  padding-top: 3%;
  background: rgba(192,211,211,0.3);
  display: block !important;
}

.close{
  margin-left: 95%;
  margin-top: 10px;
}
.contain-alert{
  text-align: center;
  position: fixed;
  z-index: 99999 !important;
  width:550px;
  height: 50px;
 top:1px;
  /*right: 0;*/
  left: 30%;
  opacity: 10;
}

.modal1 {
  position: fixed;
  top: 0;right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  background: rgba(192,211,211,0.3);
}
/**/
.contentImg{
  width: 300px;
  height: 300px;
}
.img{
  cursor: pointer;
}

.nuevo{
  cursor: pointer;
  color: black;
  font-size: 50px;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
  width: 60px;
}

.nuevo span {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  display: none;
}

.nuevo:hover span{
  display: block;
}

.EliminarImg{
  position: absolute;
  cursor: pointer;
  color: red;
  font-size: 20px;
  margin-left: 20px;
  text-align: right;
}

.EliminarImg1{
  position: absolute;
  margin-bottom: -10px;
  color:#c52d2f;
}
.EditarImg{
  color:#c52d2f;
  text-align: center;
}


.contenGaleria{
  width: 100%;
  margin-bottom: 10px;
}

.contenTitulo{
  background:#a60000;
  color: white;
  padding: 15px;
  width: 100%;
  height: 60px;
  margin-top: 20px;
}

.titulo{
  float: left;
}

.boton{
  float:right;
}
.btnNEgro{
  background: #363636;
  color: white;
}

.btnRojo{
  background: #b11f1f;
  color: white;
}

.contentDescrip{
  padding: 10px;
  background: #363636;
  width: 100%;
  height: 60px;
  color: white;

}

.contenImgs{
  height: 350px;
  padding: 10px;
  overflow: auto;
  border: 2px solid gray;
  width: 100%;
}

.contentImg{
  float: left;
  width:200px;
  height: 280px;
  margin-left: 10px;
  padding: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.contentImg span{
  color: darkred;
  font-size: 12px;
  text-align: center;
  position: relative;
  display: none;
}
.contentImg:hover span{
  display: block;
}

.eliminarEvento{
  color: #A64452;
  font-size: 30px;
  float: right;
  top: 0;
}

.cursor{
  cursor: pointer;
}

.loadingPr{
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
}
.loadingM{
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.icosDes{
  background: white;
  color: black;
  font-size: 35px;
  padding: 5px;
  border-radius: 5px;
}

.form-control{
  border: 1px solid #A64452 !important;
}

.close{
  background: #A64452 !important;
  color: white !important;
  margin-right: 5px;
}

.inputFile{
  color: white;
}


/*Aquui*/

.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img{
  width: 100%;
  float: left;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #c52d2f;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  padding: 30px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}

.recent-work-wrap span{
  color: darkred;
  font-size: 12px;
  text-align: center;
  position: relative;
  display: none;
}
.recent-work-wrap:hover span{
  display: block;
}

