.main-container{
  margin-top: 40px;
}

/* Drop Zone */
.drop-zone {
	border: dotted 3px lightgray;
	opacity: 0.5;
	color: #666;
	text-align: center
}

.file-over {
	border: dotted 3px dodgerblue;
}

.table {
	margin-top: 30px;
}

.text-green {
	color: green
}

.modal{
  padding-top: 3%;
  background: rgba(192,211,211,0.3);
  display: block !important;
}

.close{
  margin-left: 95%;
  margin-top: 10px;
}
.contain-alert{
  text-align: center;
  position: fixed;
  z-index: 99999 !important;
  width:550px;
  height: 50px;
 top:1px;
  /*right: 0;*/
  left: 30%;
  opacity: 10;
}
